@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #07020B;
  --secondary-bg: #1F1B23;
  --primary-accent: #0070E4;
  --primary-hover: #005DB4;
  --border-color: #2A2530;
  --hover-bg: #3A3640;
}

body {
  @apply bg-main-bg text-white;
}

/* Componentes personalizados */
.bg-main-bg { background-color: var(--main-bg); }
.bg-secondary-bg { background-color: var(--secondary-bg); }
.bg-hover-bg { background-color: var(--hover-bg); }
.border-border-color { border-color: var(--border-color); }
.text-primary-accent { color: var(--primary-accent); }


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 4px;
}


/* Transiciones */
.transition-colors {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@layer components {
  .custom-scroll {
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-[#2A2530] rounded-full;
    }
  }
}
/* Efecto de elevación */
.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 112, 228, 0.15);
}

